/* host code begin */
[is='host-index'] {
  color: red;
}
/* host code end */
/*注释*/
.foo__foo {
  color: red;
  height: 50px;
}
#id,
.foo__class {
  color: red;
}
.foo__foo {
  color: green;
}
.foo__a .foo__b {
  color: red;
}
.foo__a > .foo__b {
  color: red;
}
.foo__a ~ .foo__b {
  color: red;
}
.foo__a + .foo__b {
  color: red;
}
.foo__a:after {
  color: red;
}
:root {
  --main-bg-color: #fefefe; /*浅色背景*/
  --main-text-color: #363636; /*深色文字*/
}
[theme='dark']:root {
  --main-bg-color: #2f3a44; /*深色背景*/
  --main-text-color: #c5c5c5; /*浅色文字*/
}
