@-webkit-keyframes anim-show {
  100% {
    opacity: 1;
  }
}

@keyframes anim-show {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes anim-hide {
  100% {
    opacity: 0;
  }
}

@keyframes anim-hide {
  100% {
    opacity: 0;
  }
}
